/* ========== RESET ========== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body a{
      text-decoration: none;
  }
  
  /* ========== VARIÁVEIS ========== */
  :root {
    --cor-primaria: #01AE7D;
    --cor-fundo: #C5E0ED;
    --cor-texto: #222;
    --cor-clara: #ffffff;
    --cor-texto-claro: #f1f1f1;
    --cor-acentuada: #999;
    --espacamento-base: 1rem;
  }
  
  
  
  /* ========== ESTILO GLOBAL ========== */
  body {
    background-color: var(--cor-fundo);
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    color: var(--cor-texto);
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  

  
  
  
  
  /* ========== BOTÕES ========== */

  #signup{
    background-color: var(--cor-primaria);
  } 
  
  #menuMobile a{
    background-color: #FFFFFF;
    width: 100%;
    margin-left: 0rem;
    
  
  }
  
  #menuMobile div{
    margin-top: 86px;
    background-color: #FFFFFF;
    width: 28%;
    overflow: auto;
  }
  
  #menuCriarDiario > div{
    margin-top: 10rem;
    width: 100%;
  }

  #btnSalvarDiario{
    width: 88%;
  }


  #status button{
    width:100px;
  }



  
